/* You can add global styles to this file, and also import other style files */

// TODO: Missing NG 15 Support
//@import "material-theme.scss";
@import '../../../libs/frontend/styles/ngtt-single-elimination-styles.scss';
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
